# Backend (Node.js)
backend/node_modules/
backend/npm-debug.log
backend/yarn-error.log
backend/.env*.log
backend/.env
backend/sonar-project.properties
# Frontend (Vue.js)
frontend/node_modules/
frontend/dist/
frontend/*.log
frontend/.env

# Archivos comunes
.DS_Store    # macOS
Thumbs.db    # Windows

# IDEs
.idea/       # JetBrains (WebStorm, PhpStorm, etc.)
.vscode/     # Visual Studio Code

# Archivos de configuración personales
*.iml

#globales
.env
*.log
sonar-project.properties 